<!-- EDIT A SPECIFIC TASK MODAL -->
<ion-modal-view>

  <ion-header-bar class="bar-secondary">
    <h1 class="title">Edit Task</h1>
    <button class="button button-clear button-assertive cancel" ng-click="closeNewTask()">Cancel</button>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="editTask(task)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What do you need to do...?" ng-model="selected.title" focus="true">
        </label>
      </div>
      <button type="submit" class="button button-block button-positive icon-right ion-compose">Edit Your Task</button>
    </form>
  </ion-content>

</ion-modal-view>