 
 <!--SIDEMENU VIEW -->
<ion-side-menu side="left" ng-controller="SidebarCtrl as vm">
	<ion-header-bar class="bar-stable">
		<h1 class="title">{{vm.set}}</h1>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			<ion-item class="item-icon-left">
				<i class="icon ion-ios-person-outline"></i>
				<h3>ACCOUNT</h3>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-bug"></i>
				<h3>LOG A BUG</h3>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-wineglass"></i>
				<h3>HAVE A DRINK</h3>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-settings"></i>
				<h3>BUILT WITH</h3>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-side-menu>