/*ICON COLOR*/
.ion-ios-trash, .ion-ios-gear-outline {
	font-size: 30px;
}

.break {
	display: block;
}

.ion-checkmark-circled {
	color: #4F8EF7;
	font-size: 22px;
}

.item {
	font-size: 20px;
}

.highlight {
	color: #11C1F3;
	font-weight: 200;
    font-size: 20px;
}