/*ICON COLORs*/
.ion-trash-b, .ion-gear-a, .ion-plus-circled {
	font-size: 30px;
}


/*CONTENT VIEW*/
.welcomeMessage {
	width: 95%;
	margin: 40px auto;
	text-align: center;
}

.welcomeMessage span {
	color: #11C1F3;
}

.item {
	font-size: 16px;
}

.highlight {
	color: #11C1F3;
	font-weight: 200;
    font-size: 20px;
}

.ion-checkmark-circled {
	color: #4F8EF7;
	font-size: 22px;
}

.center {
	margin: 0 auto;
}

.ion-close-circled {
	color: #d12026;
}

.fader {
	opacity: 0.2;
}