/*ICON COLORs*/
.ion-gear-a, .ion-plus-circled, .smiley {
	font-size: 30px;
}

/*NEW TASK VIEW*/
.list input {
	font-size: 16px;
	line-height: normal;
	font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

/*CONTENT VIEW*/
.welcomeMessage {
	width: 95%;
	margin: 60px auto;
	text-align: center;
}

.welcomeMessage span {
	color: #11C1F3;
}

.item {
	font-size: 16px;
}

.highlight {
	color: #11C1F3;
	font-weight: 200;
    font-size: 20px;
}

.ion-checkmark-circled {
	color: #4F8EF7;
	font-size: 22px;
}

.center {
	margin: 0 auto;
}

.ion-close-circled {
	color: #d12026;
}

.fader {
	opacity: 0.2;
}

.power {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

.power h3 {
	font-size: 12px;	
	text-transform: uppercase;
}

@keyframes textColorChange {
    0% {color: #000; transform: scale(1);}
    50% {color: #4F8EF7; transform: scale(1.1)}
    100% {color: #11C1F3; transform: scale(1);}
}

.alert {
    animation: textColorChange 0.8s infinite;
}