/*ICON COLOR*/
.ion-trash-b, .ion-ios-gear-outline, .ion-plus-circled {
	font-size: 30px;
}

.ion-checkmark-circled {
	color: #4F8EF7;
	font-size: 22px;
}

.item {
	font-size: 20px;
}

.highlight {
	color: #11C1F3;
	font-weight: 200;
    font-size: 20px;
}

.center {
	margin: 0 auto;
}

.ion-close-circled {
	color: #d12026;
}