<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>The App</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="todo" ng-controller="MainCtrl">
  
  <!-- CONTAINER ELEMENT FOR SIDE MENUS AND CONTENT -->
  <ion-side-menus>
    <ion-side-menu-content>
    
      <ion-header-bar class="bar-stable">

        <button class="button button-left button-icon" menu-toggle="left">
          <i class="ion-gear-a"></i>
        </button>
        
        <h1 class="title"> <span class="highlight">{{date | date:&apos;EEEE&apos;}}</span> {{date | date:&apos;MMMM d&apos;}}</h1>
    
      </ion-header-bar>

      <!-- MAIN CONTENT -->
      <ion-content>

        <div class="welcomeMessage" ng-show="tasks.length === 0">
          <h2>Add Some Tasks To Your <span>ToDo</span> List</h2>
          <span class="smiley"><i class="ion-happy-outline"></i></span>
        </div>

        <ion-list ng-show="tasks.length &gt; 0">
          <ion-item class="item-remove-animate" ng-repeat="task in tasks track by $index">
            {{task.title}}
            <button class="button-icon item-icon-right" ng-click="editTask()">
              <i class="icon ion-ios-arrow-forward"></i>
            </button>
            <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="eraseThisTask($index)">DELETE</ion-option-button>
          </ion-item>
         </ion-list>
         
      </ion-content>

      <div class="power" ng-show="tasks.length === 0">
        <h3>powered by <span class="alert">Ionic</span></h3>
      </div>

    </ion-side-menu-content>

    <!-- SIDEMENU VIEW INCLUDE -->  
    <div ng-include="" src="&apos;views/side-menu.html&apos;"></div>
    
  </ion-side-menus>
  
  <!-- FOOTER WITH NEW TASK BUTTON -->  
  <ion-footer-bar class="bar-stable">
    <button class="button button-icon center" ng-click="newTask()">
      <i class="ion-plus-circled"></i>
    </button>
  </ion-footer-bar>

  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/app.js"></script>
  <script src="cordova.js"></script>
  </body>
</html>